MARKS
------
{%- for part in parts %}
{{ "%2d" | format(part.points)}} (out of {{ "%2s" | format(part.points_possible)}}) for {{ part.name }}
{%- endfor %}
==============
{{ points }}


{% for part in parts %}
{% if part.comments %}
{{ part.name }}
---------------
{%- for c in part.comments %}
- {{ c | indent(2) -}}
{% endfor -%}
{% endif -%}
{% endfor -%}
